@mixin media-query($query) {

    @each $name, $breakpoint in $breakpoints {

        @if $query == $name {

            @media #{$breakpoint} {
                @content;
            }

        }

    }

}