@mixin transition($value: "") {

    @each $prefix in $vendors {
        @if $value != "" {
            #{$prefix}transition: $value;
        } 
        @else {
            #{$prefix}transition: all $transition-duration $transition-effect;
        }
    }

}