<template>

	<div class="site">

		<header role="banner">

			<form class="filter">

				<fieldset>
					<legend>Refine your property search</legend>

					<ol class="filter-fields">

						<li class="filter-field">
							<label for="property-filter-property-type">House or flat</label>
							<select id="property-filter-property-type" v-model="filters.propertyType">
								<option value="">Any</option>
								<option value="house">House</option>
								<option value="flat">Flat</option>
							</select>
						</li>

						<li class="filter-field">
							<label for="property-filter-bedroom-number">Number of bedrooms</label>
							<select id="property-filter-bedroom-number" v-model="filters.numBedrooms">
								<option value="">Any</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</li>

						<li class="filter-field">
							<label for="property-filter-max-price">Maximum price</label>
							<select id="property-filter-max-price" v-model="filters.maxPrice">
								<option value="">None</option>
								<option value="100000">{{ $n(100000, 'currency') }}</option>
								<option value="200000">{{ $n(200000, 'currency') }}</option>
								<option value="300000">{{ $n(300000, 'currency') }}</option>
								<option value="400000">{{ $n(400000, 'currency') }}</option>
								<option value="500000">{{ $n(500000, 'currency') }}</option>
								<option value="600000">{{ $n(600000, 'currency') }}</option>
							</select>
						</li>

					</ol>

					<button @click.prevent="applyFilters" class="button button--action button--fill">Apply</button>

				</fieldset>

			</form>

		</header>

		<main role="main">

			<p>{{ $tc('property.searchResult', properties.length) }}</p>

			<ol class="property-listing">

				<li v-for="(property, index) in properties" class="property-listing__item">

					<PropertySummary :property="property" :index="index"></PropertySummary>

				</li>

			</ol>

		</main>

	</div>

</template>

<script>
import PropertyData from "../assets/data/properties.json";
import PropertySummary from "./PropertySummary.vue";

export default {
	name: "PropertyList",
	components: {
		PropertySummary
	},
	data: () => {
		return {
			filters: {
				propertyType: "",
				numBedrooms: "",
				maxPrice: ""
			},
			properties: []
		};
	},
	methods: {
		applyFilters: function() {
			this.properties = this.filterProperties(PropertyData, this.filters);
		},
		formatPrice: function(price) {
			return this.currencyFormatter.format(price);
		},
		filterPropertiesByPropertyType: function(property, filterValue) {
			return filterValue === "" || property.propertyType === filterValue;
		},
		filterPropertiesByNumBedrooms: function(property, filterValue) {
			return filterValue === "" || property.numBedrooms >= filterValue;
		},
		filterPropertiesByMaxPrice: function(property, filterValue) {
			return filterValue === "" || property.price <= parseInt(filterValue);
		},
		filterProperties: function(inventory, filters) {
	
			let getPropertiesThatMatchFilterProperties = (property) => {

				return ( 
					this.filterPropertiesByPropertyType(property, filters.propertyType) && 
					this.filterPropertiesByNumBedrooms(property, filters.numBedrooms)  && 
					this.filterPropertiesByMaxPrice(property, filters.maxPrice) 
				);

			};

			return inventory.filter(getPropertiesThatMatchFilterProperties, this);
		}
	},
	created: function() {
		this.properties = this.filterProperties(PropertyData, this.filters);
	}
};

</script>

<style lang="scss">
.filter {
	background: #fff;	
	border-radius: $site-border-radius;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25); 

	fieldset {
		border: 0;
		margin: 0;
		padding: $site-spacing*2;
	}

	legend {
		font-weight: 600;
		margin: 0 0 $site-spacing*-2;
		padding: $site-spacing*2 0 0;
	}
}

.filter-fields {
	list-style: none;
	margin: 0;
	padding: 0;
}

.filter-field {
	margin: $site-spacing*2 0;

	label {
		display: block;
		padding: 0 0 $site-spacing/2;
	}

	select {
		width: 100%;
	}
}

.property-listing {
	list-style: none;
	margin: 0;
	padding: 0;
}
	
.property-listing__item {
	margin: $site-spacing*2 0;
	padding: 0;
}

</style>