<template>

	<section class="property property--summary">

		<div class="property__content">

			<h3 class="property__heading">{{ $tc('property.' + property.propertyType, property.numBedrooms) }} in {{ property.address.city }}</h3>

			<p aria-label="Property price" class="property__price">{{ $n(property.price, 'currency') }}</p>

			<button class="button button--fill" @click="toggleDetails" role="switch" v-bind:aria-checked="[showDetails ? 'true' : 'false']" aria-label="Show or hide property details">{{ detailButtonText }}</button>

			<div class="property__details" v-bind:class="[showDetails ? '' : 'property__details--inactive']">

				<h4>Number of rooms</h4>
				<ul class="property__attributes" aria-label="Number of rooms">
					<li>{{ $tc('property.bedrooms', property.numBedrooms) }}</li>
					<li>{{ $tc('property.bathrooms', property.numBathrooms) }}</li>
					<li>{{ $tc('property.receptionRooms', property.numReceptionRooms) }}</li>
				</ul>

				<template v-if="property.features.length">
				<h4>Featues</h4>
				<ul class="property__attributes property__features" aria-label="Property features">
					<li v-for="feature in property.features">{{ feature }}</li>
				</ul> 
				</template>

				<h4>Address</h4>
				<p>{{ property.address.addressLine1 }}, {{ property.address.city }}, {{ property.address.postcode }}</p>

				<p><small>This property was listed on {{ $d(new Date(property.dateListed), 'short') }}.</small></p>

			</div>

		</div>

		<div class="property__media">

			<img v-bind:src="property.leadImageURI" />

		</div>

	</section>

</template>

<script>

export default {
	name: "PropertySummary",
	props: {
		index: {
			type: Number,
			required: true
		},
		property: {
			type: Object,
			required: true
		}
	},
	data: function() {
		return {
			showDetails: false,
			detailButtonText: "View details",
			detailCheckedButtonText: "Hide details",
			detailUncheckedButtonText: "Show details"
		}
	},  
	methods: {
		toggleDetails: function(event) {

			this.showDetails = !this.showDetails;

			if (this.showDetails) {
				this.detailButtonText = this.detailCheckedButtonText;
			} else {
				this.detailButtonText = this.detailUncheckedButtonText;
			}
		}
	}
};

</script>

<style lang="scss">

.property {
	background: #fff;
	border-radius: $site-border-radius;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25); 
	display: flex;
	flex-direction: column;
	margin: $site-spacing*2 0;
	overflow: hidden;

	h4 {
		font-size: 1.6rem;
		margin-bottom: $site-spacing;
	}
}

.property__heading {
	font-size: 2rem;
	margin-bottom: 0;
}

.property__content {
	flex: 1;
	order: 2;
	padding: 0 $site-spacing*2 $site-spacing*2;
}

.property__media {
	order: 1;
}

.property__attributes {
	list-style: none;
	margin: 0;
	padding: 0;
}

.property__price {
	font-size: 2rem;
	margin-top: $site-spacing/2;
}

.property__details {
	@include transition();
	max-height: 400px;   
    overflow: hidden;
}

.property__details--inactive {
	max-height: 0;
}

@include media-query(lap-and-up) {

	.property {
		flex-direction: row;
	}

	.property__media {
		max-width: 40%;
		padding: $site-spacing*2 0 $site-spacing*2 $site-spacing*2;

		img {
			border-radius: $site-border-radius;
		}
	}

}

</style>