<template>
  <div id="app">
    <PropertyList />
  </div>
</template>

<script>
import PropertyList from "./components/PropertyList.vue";

export default {
	name: "app",
	components: {
		PropertyList
	}
};
</script>

<style lang="scss">
	@import "./assets/styles/site";
</style>