.button {
    @include transition();

    background-color: #fff;
    border: solid 2px $color-primary;
    border-radius: $site-border-radius;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 600;
    line-height: inherit;
    margin: 0;
    padding: $site-spacing + 1 $site-spacing*2;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
        background-color: $color-primary; 
        color: #fff; 
    }

    &:active,
    &:focus {
        box-shadow: 0 0 0 1px rgba($color-primary, 0.7), 0 0 0 4px rgba($color-primary, 0.3);
    }

}

.button--action {
    background-color: $color-primary;
    color: #fff;    

    &:hover {
        background-color: darken($color-primary, 10%);  
    }
}

.button--fill {
    width: 100%;
}