select {
    border-radius: $site-border-radius;
    font-color: inherit;
    font-size: inherit;
    padding: $site-spacing + 1 $site-spacing;

    &:active,
    &:focus {
        box-shadow: 0 0 0 1px rgba($color-primary, 0.7), 0 0 0 4px rgba($color-primary, 0.3);
    }
}