*, 
:after, 
:before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size:62.5%; 
}

body {
    background: #f1f5f7;
    color: #616161;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    max-width: 100%;
    vertical-align: baseline;
}

.site {
	margin: 0 auto;
	max-width: 600px;
}