$site-border-radius: 3px;
$site-spacing: 10px;
$color-primary: #547df9; 

$breakpoints: (
    palm:         	"screen and (max-width: 63.9375em)",
    lap:          	"screen and (min-width: 45em) and (max-width: 63.9375em)",
    lap-and-up:   	"screen and (min-width: 63.9375em)"
);

$vendors: -webkit-, -moz-, -ms-, "";

$transition-delay: 		3s;
$transition-duration: 	175ms;
$transition-effect:		ease;